*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Qwitcher Grypen', cursive; */

body{
    background-color: #f5ebdb;
    font-family: 'Poppins', sans-serif; 
}

nav{
    margin: 0 80px;
}

.social_icon{
    height: 20px;
    width: 20px;
    margin: 0 10px;
    opacity: 70%;
}

.social_icon:hover{
    opacity: 100%;
    cursor: pointer;
    
}
.upper__nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;


}
.upper__nav-contact{
    display: flex;

}

.upper__nav-contact p{
    margin-right: 35px;
    opacity: 60%;
}

.logo{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 64px;
    text-align: center;
    margin: 30px 0;
}

.logo:hover{
    cursor: pointer;
}

.nav-bar ul li{
    list-style: none;
    padding: 0 20px;
}

.nav-bar ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #e46516;
    transition: all linear 0.3s;

}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

}

/* main content */
.home{
    background: url(../images/bg-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 1450px;
    height: 800px;

}

.right_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7d49c;
    padding: 50px;
    width: 350px;
    margin: 0 80px;
}

.right_content:hover{
    background-color: #e1823d;
    cursor: pointer;
    width: 350px;
}


.right_content h3{
    color: azure;
}
.right_content p{
    color: #ecae82;
}